{% extends 'base.html.twig' %}

{% block title %}Pilipiliweb
{% endblock %}

{% block body %}

	<section class="products m-4">
	<h1 class="text-center">Produits activés</h1>

		<div class="product-content d-flex justify-content-evenly">
			{% for product in products %}
					<div class="card" style="width: 18rem;">
						<img src="http://placehold.it/150x100" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
							<p class="card-text">{{ product.description|raw }}</p>
							<p class="card-text">{{ product.price }}</p>
							<p class="card-text">{{ product.brandid }}</p>
						</div>
					</div>
			{% endfor %}
		</div>
		
	</section>
{% endblock %}
